.prodTags{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    color: blueviolet;

}

.productImg{
    width: 20%;
}
.productCardCon{
    justify-content: space-evenly;
    border: solid 1px black ;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
    word-wrap: wrap;
    max-width: 1500px;
    
}

.main{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(200px);
    column-gap: 50px;
    row-gap: 50px;
}

.prodDesc, .title, .prodCat, .prodPrice{
    text-align: center;
    width: 200px;
    font-weight: bold;
}
